.admin-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #121212;
  color: white;
}

.admin-card {
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  width: 400px;
}

.admin-input {
  width: 100%;
  padding: 12px;
  background-color: #2c2c2c;
  border: none;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

.admin-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.admin-button:hover {
  background-color: #0056b3;
}
