.dashboard {
  padding: 20px;
  margin-top:6rem;
  text-align: center;
  color: white;
}

.dashboard-header {
  margin-bottom: 20px;
}

.dashboard-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dashboard-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  transition: 0.3s;
}

.dashboard-card:hover {
  transform: scale(1.05);
}

.chart-box {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
}

.dashboard-btn {
  background: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  transition: 0.3s;
}

.dashboard-btn:hover {
  background: #218838;
}
