.deploy-container {
  text-align: center;
  padding: 20px;
  margin-top:7rem;
}

.deploy-container h2 {
  margin-bottom: 20px;
}

.project-item {
  list-style: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.project-item:hover {
  transform: scale(1.02);
}

.deploy-button {
  background: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.deploy-button:hover {
  background: #218838;
}
