@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.friends-container {
  font-family: "Quantico", serif;
    font-weight: 400;
    font-style: normal;
  margin-top: 10rem;
  text-align: center;
  padding: 20px;
}

.friends-list {
  list-style: none;
  padding: 0;
}

.friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin: 8px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.friend-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.friend-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.friend-status {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.online {
  color: green;
}

.offline {
  color: red;
}
